* {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 10pt;
}

body {
	background-color: #E5E5E5;
}

#main {
	width: 400px;
	margin: 0px auto;
	border: 1px solid #0072A6;
	padding: 20px 30px 20px 30px;
	background-color: white;
}

#message {
	border: 1px solid grey;
	margin: 10px;
	padding: 10px;
}

.description {
	width: 170px;
	float: left;
}

.element {
	clear: both;
	height: 40px;
}

.annotation {
	font-size: 8pt;
	color: grey;
}

#submit {
	height: 20px;
	display: block;
}

#create {
	float: left;
	margin-left: 30px;
}

#uninstall {
	float: right;
	margin-right: 30px;
}

h1 {
	font-size: 14pt;
}

#version,a {
	font-size: 8pt;
	color: grey;
}

.text {
	width: 230px;
}

.file {
	font-size: 8pt;
	color: grey;
}